html {
    font-family: 'Oxanium', 'Noto Sans KR' ;
}

a, a:visited, a:hover {
    text-decoration: none;
}

header a, header a:visited, header a:hover {
    color: white;
}

header {  
    font-weight: 600;
    width: 100%;
    min-width: 1000px;
    height: 60px;
    color: white;
    background:#111111;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#outer {
    margin-left: 10px;
    width: 400px;
    display: flex;
    /*line-height: 60px;*/
}

#outer img{
    padding-top: 0px;
    margin-top: 15px;
    vertical-align: middle;
    margin-right: 20px;
}

  #top_menu {
      width: 400px;
      height: 100%;
      margin-left:auto;
      margin-right: 10px;
  }

  #top_menu .menu {
      display: inline-block;
      line-height: 60px;
      width: 25%;
      height: 100%;
      text-align: center;
      padding:0px;
      margin:0px;
  }

  #top_menu .menu:hover {
      background: #0f4c81;
  }



body {
    padding: 0px;
    margin: 0px;
}


#upper_main {
    min-height: 200px;
    width: 100%;
    padding-bottom: 20px;
}

#upper_main > img {
    min-width: 1000px;
    width: 100%;
    padding:0;
    margin:0;
    box-shadow: 0 0 20px;
}

#bottom {
    font-weight: 400;
    margin-top: 0px;
    width: 85%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}


